@import './buttons.css';

:root {
  --Primary: #43DDE6;
  --White: #ffffff; 
  
  
}

body {
  background-color: var(--Primary);
  font-family: Arial, Helvetica, sans-serif;
  color: var(--White);
}

.wrapper{
  max-inline-size: 900px;
  margin-inline-start: auto;
  margin-inline-end: auto;
}

.player video{
  inline-size: 100%;
  
}